<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.mills.cs180.safetravels" 
	android:versionCode="1"
	android:versionName="1.0">
	<uses-permission 
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		 android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission 
		android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<application android:icon="@drawable/icon" 
		android:label="@string/app_name">
		<activity android:name=".FirstPage" 
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".RoutePage" 
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".SendTextMessage" 
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name=".SendMadeItTextMessage" 
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name=".SendTextMessageDanger" 
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name=".TestPage" 
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".MapPage" 
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".CrimesListActivity"/>
		<activity android:name=".MyItemizedOverlay"/>
		<activity android:name=".stopTracking"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Dialog" />
		<uses-library android:name="com.google.android.maps" />
		<activity 
			android:name=".About"
			android:theme="@android:style/Theme.Dialog"/>
		<activity 
			android:name=".Preferences"/>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest> 

